:root {
    --primary-color: green;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}

input#button1 {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
}


div#block2 div#myList input[type=checkbox]:checked + span {
  text-decoration: line-through;
}
